{% form 'contact' %}       
  {{ form.errors | default_errors }}
                            <div class="contact-us__bottom-form-wrap">
                                    <label for="name">name</label>
                                    <input type="text" name="contact[name]" placeholder="test" required>
                            </div>
                            <div class="contact-us__bottom-form-wrap">
                                <label for="order-num">order num</label>
                                <input type="number" name="contact[order_number]" placeholder="order number">
                            </div>
                            <div class="contact-us__bottom-form-wrap">
                                    <label for="email">email</label>
                                    <input type="text" name="contact[email]" placeholder="email" required>
                                {% comment %} TODO BE: To show the error message, add class *** is-visible *** {% endcomment %}
                                {% if form.erors %}
                                    <span class="error-message">This field is required!</span>
                                {% endif %}
                            </div>
                            <div class="contact-us__bottom-form-wrap">
                                    <label for="phone">phone</label>
                                    <input type="text" name="contact[phone]" placeholder="phone" required>
                            </div>
                            <div class="contact-us__bottom-form-wrap">
                                <label for="message">message</label>
                                <textarea type="text" name="contact[body]" placeholder="message"></textarea>
                            </div>
                            <div class="contact-us__bottom-form-btn">
                                <input type="submit" value="submit">
                            </div>
                    {% endform %}

{% schema %}
  {
    "name": "CONTACT TEST",
    "settings": [],
    "presets": [
      {
        "name": "CONTACT TEST"
      }
    ]
  }
{% endschema %}